.node-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 16px; /* Space between items */
    max-width: 800px;
    padding: 20px;
    background-color: #111;
    margin-bottom: 8rem;
    @apply text-ldGreen;
}

.node-item {
    padding: 16px;
    /*border: 1px solid #00ff00;*/
    /*background-color: #222;*/
    /*border-radius: 8px;*/
}

.node-ip {
    font-weight: bold;
}

.node-city {
    font-size: 0.9rem;
    color: #a0ffa0;
}
