.roadmap {
    background-color: black;
    padding: 8rem 2rem;
    text-align: center;
    @apply text-ldGreen;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}
